api/
*/.htpasswd
htdocs/admin/phpmyadmin/
.users
htdocs/js/vendor/*
!htdocs/js/vendor/package.json
htdocs/includes/vendor/
htdocs/includes/settings.inc.php
htdocs/downloads/
*.srt
htdocs/video/
htdocs/admin/memcache.php
htdocs/audio/
htdocs/photosynthesis/rss/cache/
htdocs/finance/
htdocs/api/1.0/finance
htdocs/mirror/
htdocs/blog/
htdocs/cron/hashes/
htdocs/includes/settings.inc.php
backups/
logs/
html
alarmlimit
process-audio
process-video
lobbyist.php
petition.php

composer.phar
*.cache

.php_cs.dist
.php_cs.cache
