body {
  font-size: large;
}

#header #search-box {
  width: 14em;
}

#nav li#legislator-select select {
  width: 17.5em;
}

.stat-number {
  margin-left: -10em;
  margin-top: 0.74em;
}

#sidebar {
	margin-left: 53em;
}
